{% extends '@layout/default.html.twig' %}

{% block title %}Capabilities{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>
                Browser Capabilities
            </h2>
            <p>With the help of the awesome <a href="http://www.modernizr.com/">Modernizr</a> library, browscap.de gives you a quick overview of your browser’s support for recent technologies in the world of HTML, CSS and Javascript.</p>
        </div>

        <div class="card-columns col-md-12">
            {% for featureGroup in capabilities.sections %}
            <section class="card">
                <h2 class="card-header">{{ featureGroup.title }}</h2>
                <ul class="list-group list-group-flush">
                    {% for feature in featureGroup.features %}
                    <li class="list-group-item features">
                        {{ feature.title }}
                        <span data-capability="{{ feature.name }}">
                            {% if feature.subfeatures is defined %}
                            <ul class="subfeatures list-group list-group-flush">
                                {% for subfeature in feature.subfeatures %}
                                    <li class="feature list-group-item">
                                        {{ subfeature.title }}
                                        <span data-capability="{{ subfeature.name }}"></span>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="/javascripts/tests/dpi.js"></script>
    <script type="text/javascript" src="/javascripts/tests/overflowscrolling.js"></script>
    <script type="text/javascript" src="/javascripts/tests/screenattributes.js"></script>
    <script type="text/javascript" src="/javascripts/features.js"></script>
    <script type="text/javascript" src="/javascripts/show-capabilities.js"></script>
{% endblock %}
